@model IEnumerable<Ecomm.Models.Brand>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            Brand
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data table</li>
            </ol>
        </nav>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Brand</h4>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table id="order-listing" class="table">
                            <thead>
                                <tr>
                                    <th>Brand Id</th>
                                    <th>Brand Name</th>
                                    <th></th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Bid</td>
                                        <td>@item.BName</td>

  
                                        <td>
                                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Bid">Edit</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Bid">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>


                    </div>
                </div>

            </div>
            <br />
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-outline-primary " asp-action="Create"> Create </a>
            </div>
        </div>


    </div>
</div>
